<!DOCTYPE html>
<head>
  <style>
    .grid-container {
      display:grid;
      grid-template-columns: auto auto auto;
      padding:10px;
      column-width: 10px;
    }

    .grid-container > button {
      text-align: center;
      padding: 20px;
      font-size: 30px;
    }

    button {
      background-color: white;
      border: none;
    }
    
  </style>
</head>
<body>
  

  <div class="grid-container">
    <div></div>
    <h1 style="text-align: center; border-bottom: 3px solid rgb(0, 0, 0);">Choose your game</h1>
    <div></div>
    <div></div>
    <button >TicTacToe</button>
    <div></div>
    <div></div>
    <button >BattleShip</button>
  </div>

</body>