<!DOCTYPE html>
<head>
  <style>
    .grid-container {
      display:grid;
      grid-template-columns: auto auto auto;
      padding:10px;
    }

    .grid-container > button {
      text-align: center;
      padding: 20px;
      font-size: 30px;
      background-color: white;
      border: none;
    }
    
    .top {
      border-bottom: 1px solid rgb(0, 0, 0) !important;
    }

    .right {
      border-right: 1px solid rgb(0, 0, 0) !important;
    }
    
  </style>
</head>
<body>
  <h1 style="text-align: center">TicTacToe</h1>

  <div class="grid-container">
    <button class="top right">{{tl}}</button>
    <button class="top right">{{tm}}</button>
    <button class="top">{{tr}}</button>
    <button class="top right">{{ml}}</button>
    <button class="top right">{{mm}}</button>
    <button class="top">{{mr}}</button>
    <button class="right">{{bl}}</button>
    <button class="right">{{bm}}</button>
    <button>{{br}}</button>
  </div>

  <h2>{{endMessage}}</h2>

  <a href="/game/TicTacToe">New Game</a>
  <a href="/main">Main Menu</a>
</body>