<!DOCTYPE html>
<head>
  <style>
    .grid-container {
      display:grid;
      grid-template-columns: auto auto auto;
      padding:10px;
      column-width: 10px;
    }

    .grid-container > h2 {
      text-align: center;
      padding: 20px;
      font-size: 30px;
    }

    button {
      background-color: white;
      border: none;
    }
    
  </style>
</head>
<body>
  <script>
    function sendRequest() {
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.onreadystatechange = function() { 
          if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
              window.open(xmlHttp.responseText)
      }
      xmlHttp.open("GET", "/pingImage", true); // true for asynchronous 
      xmlHttp.send(null);
    }  
  </script>

  <div class="grid-container">
    <div></div>
    <h1 style="text-align: center; border-bottom: 3px solid rgb(0, 0, 0);">PING INFO</h1>
    <div></div>
    <div></div>
    <h2>{{rtm}}: {{rmtv}}</h2>
    <div></div>
    <div></div>
    <h2>{{avg}}: {{avgv}}</h2>
    <div></div>
    <div></div>
    <h2>{{max}}: {{maxv}}</h2>
    <div></div>
    <div></div>
    <h2>{{sd}}: {{sdv}}</h2>
  </div>

  <a href="/main">Main Menu</button>
  <button onclick="sendRequest()">Open Graph</button>
</body>