<!DOCTYPE html>
<head>
  <style>
    .grid-container {
      display:grid;
      grid-template-columns: auto auto auto;
      padding:10px;
    }

    .grid-container > a {
      text-align: center;
      padding: 20px;
      font-size: 30px;
      background-color: white;
      border: none;
    }
    
    .top {
      border-bottom: 1px solid rgb(0, 0, 0) !important;
    }

    .right {
      border-right: 1px solid rgb(0, 0, 0) !important;
    }
    
  </style>
</head>
<body>
  <script src="./polling.js"></script>
  <h1 style="text-align: center">TicTacToe</h1>

  <div class="grid-container" id="board">
    <a href="/TTT/{{pnum}}/0/0" class="top right">{{tl}}</a>
    <a href="/TTT/{{pnum}}/0/1" class="top right">{{tm}}</a>
    <a href="/TTT/{{pnum}}/0/2" class="top" >{{tr}}</a>
    <a href="/TTT/{{pnum}}/1/0" class="top right">{{ml}}</a>
    <a href="/TTT/{{pnum}}/1/1" class="top right">{{mm}}</a>
    <a href="/TTT/{{pnum}}/1/2" class="top">{{mr}}</a>
    <a href="/TTT/{{pnum}}/2/0" class="right">{{bl}}</a>
    <a href="/TTT/{{pnum}}/2/1" class="right">{{bm}}</a>
    <a href="/TTT/{{pnum}}/2/2" >{{br}}</a>
  </div>

  <h3 id="player">Player {{pnum}}</h3>

  <a href="/end">End Page</button>
  <a href="/">Main Menu</button>
</body>
