<!DOCTYPE html>
<head>
  <style>
    .grid-container {
      display:grid;
      grid-template-columns: auto auto auto;
      padding:10px;
    }

    .grid-container > a {
      text-align: center;
      padding: 20px;
      font-size: 30px;
      background-color: white;
      border: none;
    }
    
    .top {
      border-bottom: 1px solid rgb(0, 0, 0) !important;
    }

    .right {
      border-right: 1px solid rgb(0, 0, 0) !important;
    }
    
  </style>
</head>
<body>
  <h1 style="text-align: center">TicTacToe</h1>

  <div class="grid-container">
    <a href="/TTT/{{pnum}}/0/0" class="top right">{{tl}}</button>
    <a href="/TTT/{{pnum}}/0/1" class="top right">{{tm}}</button>
    <a href="/TTT/{{pnum}}/0/2" class="top" >{{tr}}</button>
    <a href="/TTT/{{pnum}}/1/0" class="top right">{{ml}}</button>
    <a href="/TTT/{{pnum}}/1/1" class="top right">{{mm}}</button>
    <a href="/TTT/{{pnum}}/1/2" class="top">{{mr}}</button>
    <a href="/TTT/{{pnum}}/2/0" class="right">{{bl}}</button>
    <a href="/TTT/{{pnum}}/2/1" class="right">{{bm}}</button>
    <a href="/TTT/{{pnum}}/2/2" >{{br}}</button>
  </div>

  <p>Player {{pnum}}: O  Score: 99</p>

  <a href="/end">End Page</button>
  <a href="/">Main Menu</button>
</body>
