<!DOCTYPE html>
<head>
  <style>
    .grid-container {
      display:grid;
      grid-template-columns: auto auto auto;
      padding:10px;
    }

    .grid-container > button {
      text-align: center;
      padding: 20px;
      font-size: 30px;
      background-color: white;
      border: none;
    }
    
    .top {
      border-bottom: 1px solid rgb(0, 0, 0) !important;
    }

    .right {
      border-right: 1px solid rgb(0, 0, 0) !important;
    }
    
  </style>
</head>
<body>
  <h1 style="text-align: center">TicTacToe</h1>

  <div class="grid-container">
    <button class="top right" >X</button>
    <button class="top right" >X</button>
    <button class="top">X</button>
    <button class="top right">X</button>
    <button class="top right">X</button>
    <button class="top">X</button>
    <button class="right">X</button>
    <button class="right">X</button>
    <button >X</button>
  </div>

  <h2>PlayerX has won!</h2>

  <button>New Game</button>
  <button>Main Menu</button>
</body>